<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
          background-color: lightblue;
          font-family: Century Gothic;
      }
      p {
          font-size: 16px;
      }
      button, input {
          font-size: 14px;
      }
    </style>
  </head>
<body>

<b>This is Atbash App, it decrypts encrypted texts with the given cipher and alphabet as the constant. </b>

<form>
<p>CONSTANT: abcdefghijklmnopqrstuvwxyz</p>
Cipher:
<input type="text" id="cipher" name="cipher" placeholder="Enter the Cipher">
<br>
<br>
Encrypted Text:
<input type="text" id="enc_text" name="enc_text" placeholder="Enter the Encrypted Text">
<br>

<p id="decrypted"><%= flash[:decrypted] %></p>
<span id="notice"><%= flash[:notice] %></span>
<br>

<button type="button" onclick="decrypt()">Decrypt (JS)</button>
<%= button_to "Decrypt (Ruby)", { :action => "index" }, :method => :get %>
</form>


<script>
function decrypt() {
  var cons = 'abcdefghijklmnopqrstuvwxyz';
  var cipher = document.getElementById("cipher").value;
  var cipher_arr = [];
  cipher_arr = cipher.split("");
  
  var enc_text = document.getElementById("enc_text").value;
  var enc_text_arr = [];
  enc_text_arr = enc_text.split("");
  
  var text = "";
  var i;
  for (i = 0; i < enc_text_arr.length; i++) {
    if (cons.indexOf(enc_text_arr[i]) < 0 ) {
      text += enc_text_arr[i];
      continue;
    }
    text += cons[cipher_arr.indexOf(enc_text_arr[i])];
  }    
  document.getElementById("decrypted").innerHTML = "Original Text: " + text;
  document.getElementById("notice").innerHTML = "Text was successfully decrypted.";
}
</script>
</body>
</html>
